body{
   color: white;
   background-color: rgb(20, 8, 49);
   font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}
a {
    color:white;
    text-decoration: none;
}
img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid green;
}
.center {
    text-align: center;
}

H1{
    color: green;
}